.box {
  width: 200px;
  height: 100px;
  background-color: aquamarine;
}

.error {
  border: 1px solid black;
}

.flashbang {
  height: 200px;
  width: 100px;
  border: 5px dashed paleturquoise;
}

.blinker {
  animation: flash 3s;
  animation-iteration-count: infinite;
}
@keyframes flash {
  from {
    background-color: white;
  }
  to {
    background-color: tomato;
  }
}
